@{
    ViewBag.Title = "Home Page";
}




<div class="row" style="display:flex; justify-content: center; align-items: center">
    <div>
            Work is done ny Alexey Selevich and Alexandr Lohvinov
    </div>
</div>
